.history-wrapper{
    width: 80%;
    margin: 0 auto;
}

.history{
    width: 90%;
    border: 1px solid #e6e6e6;
    font-size: 1rem;
    color: #b5b0b0;
    padding: 0.8rem;
    margin: 1rem auto;
}

.document-image{

}

.medical-data{
    margin: 0;
    display: inline-block;
    color: black;
    margin-left: 1px;
}