.form-wrapper{
    width: 30%;
    margin: 2rem auto;
    padding: 8rem 1rem;
    text-align: center;
    border: 1px solid;
}

.input-box{
    outline: none;
    font-size: 1rem;
    margin: 0.6rem;
    padding: 0.5rem;
}

.login-button{
    /* width: 100%; */
    /* text-align: center; */
    margin: 0.8rem;
}

.heading{
    /* width: 100%; */
    font-size: 2rem;
    /* text-align: center; */
}